.inputcontainer {
    border-radius: 20px;
    background-color: #eef0f3;
}

.line {
    border-bottom: 1px solid #dadde1;
}

.formContainer .form-control {
    width: 364px !important;
    padding: 14px;
}

.container {
    height: 62vh;
}

.errorMsg {
    font-size: 12px;
    max-width: 360px;
}

.errorMsgRegister {
    font-size: 12px;
    max-width: 120px;
}

.card {
    height: 500px;
    width: 500px;
}

.sidebarContainer {
    width: 280px;
}

.feedContainer {
    width: 680px;
}

.cardContainer {
    width: 100%;
    height: auto;
}

.cardOwner {
    padding: 8px 12px 0px;
}

.postSettings {
    cursor: pointer;
}

.card-body p {
    padding: 4px 12px 16px;
    word-wrap: break-word;
}

.postImage img {
    width: 100%;
}

.postDate {
    font-size: 12px;
}

.savebutton {
    cursor: pointer;
}

/* responsive */
@media (max-width: 668px) {
    .userCards {
        width: 540px;
    }
}

@media (max-width: 545px) {
    .userCards {
        width: 350px;
    }
}

@media (max-width: 545px) {
    .firstAndLast input {
        width: 150px;
        ;
    }

    .EditingUserContainer form {
        width: 300px;
    }

    .EditingUserContainer button {
        width: 150px;
    }
}