.spanPass {
    cursor: pointer;
}

.facebookName p {
    max-width: 500px;
    font-size: 28px;
    line-height: 1 !important;
}

.formContainer {
    /* this one for login */
    width: 396px;
    min-height: 350px;
}

.btnContainer button {
    /* this one */
    padding: 14px;
}

.btnContainerTwo p {
    /* this one */
    background-color: #42b72a !important;
    padding: 14px;
}

.btnContainerTwo p a {
    /* this one */
    color: #fff;
    text-decoration: none;
}

.btnContainerTwo p:hover {
    /* this one */
    background-color: #3fa72a !important;
}